@charset "UTF-8";
:root {
  --main-ff: "Roboto", sans-serif;
  --logo-ff: "Raleway", sans-serif;
  --primary-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-t-color: #ffffff;
  --seconadary-bg-color: #2f303a;
  --logo-color-text: #000000;
  --alternative-bg-color: #f5f4fa;
  --social-color: #188ce8;
  --icon-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

/*
   акцент цвет #2196F3
   фон в секции команда и некоторого текста #E5E5E5
   вторичный цвет фона ( футера и секции героев) #2F303A;
   цвет текста в лого: #000000;
   цвет текста заголовков #212121
   основной масив текста #757575;
   основной фон bg и текст контраста #FFFFFF;
   prymary font-family roboto 400,500,700,900
   logo ff Raleway 700 
   кнопка в секции герои при ховере #188CE8
*/
/* .visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  глобальные стили */
body {
  color: var(--primary-color);
  font-family: var(--main-ff);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-t-color);
}

/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

/* wrapper container */
.container {
  outline: 1px solid tomato;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* утилита для картинок */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.link {
  display: block;
  color: currentColor;
  margin: 0;
  text-decoration: none;
}

.text,
.title {
  margin-top: 0;
  margin-bottom: 0;
}

/* logo */
.logo {
  display: flex;
  font-family: var(--logo-ff);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.logo:hover, .logo:focus {
  transform: scale(1.1);
}

.logo__start {
  display: block;
}

.logo__start--blue {
  color: var(--accent-color);
}

.logo__end {
  display: block;
  color: var(--logo-color-text);
}

.logo__end--white {
  color: #fff;
}

/* Navigation */
.nav__list {
  display: flex;
}

.nav__link {
  display: block;
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link:hover::after, .nav__link:focus::after {
  transform: scaleX(1);
  transform-origin: right;
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  transform-origin: left;
}

.nav__link--current::after {
  transform: scale(1);
}

/* contacts */
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link--white {
  color: var(--primary-bg-t-color);
}

.contacts__link--small {
  font-style: normal;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: inherit;
}

.contacts__icon {
  width: 16px;
  height: 16px;
  display: block;
  margin-left: auto;
  fill: currentColor;
  margin-right: 10px;
}

/* 
==========================================
| modal-window
==========================================
*/
/* ======================================================== */
.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  pointer-events: initial;
  transition-property: opacity, visibility, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.back-drop.is-hidden {
  transform: scale(3);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: var(--primary-bg-t-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* 
==========================================
| close-btn
==========================================
*/
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: var(--logo-color-text);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-t-color);
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-bg-t-color);
}

.close-btn__icon {
  display: block;
  fill: currentColor;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.close-btn:hover .close-btn__icon {
  transform: scale(1.12);
}

/* 
==========================================
| modal-form
==========================================
*/
.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--secondary-color);
}

.modal-form__label {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.modal-form__label:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__input,
.modal-form__textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__input {
  padding: 10px 10px 10px 40px;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.modal-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 10px;
  fill: currentColor;
  transition-property: color, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__input:focus + .modal-form__icon {
  color: var(--accent-color);
  transform: scale(1.1);
}

.modal-form__text {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
}

.modal-form__checkbox-icon {
  fill: transparent;
  transition-property: fill, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox > .modal-form__checkbox-icon {
  fill: var(--primary-bg-t-color);
}

.modal-form__chexbox-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 4px;
}

.modal-form__link {
  text-decoration-line: underline;
  color: var(--accent-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.modal-form__link:hover {
  color: var(--social-color);
}

.modal-form__btn {
  margin: 0 auto;
}

/* socialmedia */
.socialmedia {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.socialmedia__item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;
  transition-property: color, background-color, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.socialmedia__link:hover, .socialmedia__link:focus {
  transform: scale(1.09) translateY(-2px);
  color: var(--primary-bg-t-color);
  background-color: var(--social-color);
}

.socialmedia__link--transparent {
  background-color: rgba(255, 255, 255, 0.1);
}

.socialmedia__icon {
  display: block;
  fill: currentColor;
}

.socialmedia__icon--white {
  fill: var(--primary-bg-t-color);
}

/* 
==========================================
| subscribe-form
==========================================
*/
.subscribe-form {
  max-width: 570px;
}

.subscribe-form__title {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
}

.subscribe-form__group {
  display: flex;
}

.subscribe-form__field {
  display: inline-block;
  margin-right: 15px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form__field:not(:placeholder-shown) {
  color: var(--primary-bg-t-color);
}

/* filter menu */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

/* ======================================================================== */
/* button filter*/
.filter__btn {
  padding: 6px 22px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-color);
  background-color: var(--alternative-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.filter__btn:hover, .filter__btn:focus {
  transform: scale(1.05) translateY(-3px);
  color: var(--primary-bg-t-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  transition-property: box-shadow, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.card:hover, .card:focus {
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__meta {
  padding: 20px 23px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* ==============================================================================================================overlay============================================== */
.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-t-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.card:hover .card__description {
  transform: translateY(0);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-bg-t-color);
  transition-property: background-color, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
}

.button:hover, .button:focus {
  background-color: var(--social-color);
  transform: scale(1.02) translateY(-1px);
}

.button__icon {
  fill: currentColor;
  margin-left: 10px;
}

/* 
==========================================
| header
==========================================
*/
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

/* 
==========================================
| hero 
==========================================
*/
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-color: var(--seconadary-bg-color);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bg-move 20s ease-in infinite both;
}

.hero__title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
}

/* --------------------анимация фона секции---------------------------- */
@keyframes bg-move {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 150%;
  }
}

/* 
==========================================
| hero button
==========================================
*/
.hero__button {
  margin: 0 auto;
}

/* 
==========================================
| features
==========================================
*/
.features {
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  width: 1170px;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__icon {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.feature__subtext {
  line-height: 1.71;
}

/* 
==========================================
| occupation
==========================================
*/
.occupation {
  padding-top: 47px;
}

.occupation__list {
  display: flex;
}

.occupation__item {
  position: relative;
}

.occupation__item:not(:last-child) {
  margin-right: 30px;
}

.occupation__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 27px 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* 
==========================================
| team
==========================================
*/
.team {
  background-color: var(--alternative-bg-color);
}

.team__list {
  display: flex;
  text-align: center;
}

.team__item {
  background-color: var(--primary-bg-t-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__group {
  padding: 30px 10px;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.team__subtext {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* 
==========================================
| clients
==========================================
*/
.client__list {
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: color, border, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  outline: transparent;
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  transform: scale(1.09);
}

.client__icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* 
==========================================
| footer
==========================================
*/
.footer {
  background-color: var(--seconadary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address-box {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 0;
}

/* section with socialmedia link */
.footer__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);
  margin-bottom: 20px;
}

.footer__subscribe-form {
  margin-left: auto;
}

/* 
==========================================
| portfolio
==========================================
*/
/* примеры робот */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */