/* 
==========================================
| clients
==========================================
*/

.client__list {
  display: flex;
  flex-wrap: wrap;
}

.client__item {
  @media screen and (max-width: 767px) {
    --ident: 30px;
    --item: 2;
    flex-basis: calc(
      (100% - (var(--ident) * (var(--item) - 1))) / (var(--item))
    );
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    --ident: 30px;
    --item: 3;
    flex-basis: calc(
      (100% - (var(--ident) * (var(--item) - 1))) / (var(--item))
    );

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    --ident: 30px;
    --item: 6;
    flex-basis: calc(
      (100% - (var(--ident) * (var(--item) - 1))) / (var(--item))
    );

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: color, border, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  outline: transparent;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
    transform: scale(1.09);
  }
}

.client__icon {
  fill: currentColor;
}
