/* 
==========================================
| clients
==========================================
*/

.client__list {
  display: flex;
  flex-wrap: wrap;

  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}

.client__item {
  flex-basis: calc((100% - (var(--ident) * (var(--item) - 1))) / (var(--item)));

  @include mq(mobile-only) {
    --ident: 30px;
    --item: 2;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @include mq(tablet-only) {
    margin-right: 30px;
    margin-bottom: 30px;
    --ident: 30px;
    --item: 3;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @include mq(desktop) {
    --ident: 30px;
    --item: 6;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-property: color, border, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);
  outline: transparent;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
    transform: scale(1.09);
  }
}

.client__icon {
  fill: currentColor;
}
