/* 
==========================================
| features
==========================================
*/

.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 47px;
  }
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;

    --ident: 30px;
    --item: 2;
    flex-basis: calc(
      (100% - (var(--ident) * (var(--item) - 1))) / (var(--item))
    );

    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    --ident: 30px;
    --item: 4;
    flex-basis: calc(
      (100% - (var(--ident) * (var(--item) - 1))) / (var(--item))
    );

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__icon {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.feature__subtext {
  line-height: 1.71;
}
