/* 
==========================================
| header
==========================================
*/

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
