/* 
==========================================
| hero 
==========================================
*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--seconadary-bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // bg small
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero__s.jpg);

  // 2x
  @include mq(retina) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero@2x__s.jpg);
  }

  //bg medium
  @include mq(tablet) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero__m.jpg);

    // 2x
    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero@2x__m.jpg);
    }
  }

  //bg large
  @include mq(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero__l.jpg);

    // 2x
    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero@2x__l.jpg);
    }
  }
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;

  text-align: center;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-t-color);

  @include mq(mobile) {
    width: 361px;
  }

  @include mq(desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* 
==========================================
| hero button
==========================================
*/

.hero__button {
  margin: 0 auto;
}
