/* 
==========================================
| portfolio
==========================================
*/

/* примеры робот */

.portfolio__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  @include mq(mobile-only) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq(tablet) {
    flex-basis: 354px;
    margin: 15px;
  }

  @include mq(desktop) {
    flex-basis: 370px;
  }
}
