/* contacts */

.contacts__item {
  &:not(:last-child) {
    @include mq(tablet) {
      margin-bottom: 10px;
    }

    @include mq(desktop) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--white {
    color: var(--primary-bg-t-color);
  }

  &--small {
    font-style: normal;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: inherit;
  }

  @include mq(desktop) {
    font-size: 14px;
  }
}

.contacts__icon {
  margin-left: auto;
  fill: currentColor;
  margin-right: 10px;

  @include mq(desktop) {
    &--mail {
      width: 16px;
      height: 12px;
    }

    &--phone {
      widows: 10px;
      height: 16px;
    }
  }
}
